Package: com.yourcompany.yrudid
Name: yrudid
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Rip
Author: Rip
Section: Tweaks
